<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR_uAYbHI4r5x4y7z6WPIt51dn1Y9rpGc</string>
	<key>GCM_SENDER_ID</key>
	<string>318569641922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ornah.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-296e3</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-296e3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318569641922:ios:4aefa2a862babffb33085b</string>
</dict>
</plist>